*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar{
    width: 1200px;
    height: 70px;
    background-color: #7fffd4;
    margin: auto;
    display: flex;
}
.navbar-menu{
    width: 100px;
    display: flex;
    position: relative;
}
.menu-list{
    background-color: lightblue;
}
.button{
    background-color: lightblue;
    border: none;
    cursor: pointer;
    height: 100%; 
    width: 100px;
}
.menuList-item{
    background-color: lightblue;
    color: darkslateblue;
    width: 400px;
    position: absolute;
    top: 70px;
    left: 0px;
    padding-left: 0;
    z-index: 9;
}
.menuList-item .items{
    padding-left: 50px;
}
/* 使用Link時需以下這段以維持原樣式 */
.menuList-item .items li a {
    text-decoration: none;  /*<Link>本質上是<a>標籤*/
    color: inherit;  /*繼承父元素文字顏色*/       
}
.menuList-item li:hover{
    cursor: pointer;
    background-color: lightgray;
    color: darkslateblue;
}
.navbar-item{
    background-color: lightblue;
    color: darkslateblue;
    width: 300px;
    display: flex;
    font-weight: bold;
}
.navbar-item ul{
    display: flex;
    align-items: center;
}
.navbar-item li{ 
    padding: 3px 5px;
    margin: 0 5px;
}
.navbar-item li:hover{ 
    background-color: darkslateblue;
    box-sizing: border-box;
    color: #fff;
    border-radius: 10px;
    padding: 3px 5px;
}
.navbar-CompanyName{
    background-color: lightblue;
    width: 600px;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.navbar-info{
    background-color: blanchedalmond;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.navbar-info ul{
    display: flex;
    align-items: center;
    margin-right: -10px;
}
.navbar-info li{
    margin-right: 10px;
    color: darkslateblue;
    font-weight: bold;
}
.navbar-info li a{
    text-decoration: none;
    padding: 3px 5px;
}
.navbar-info li a:hover{
    text-decoration: none;
    border-radius: 10px;
    padding: 3px 5px;
    background-color: rgb(216, 81, 54);
    color: #fff;
}
.navbar-info li:nth-child(2){
    margin-right: 30px;
    background-color: #7fffd4 ;
    padding: 10px;
    border-radius: 20px;
}
.navbar-info li:nth-child(2):hover{
    background-color: rgb(216, 81, 54);
    color: #fff;
}